{#
/**
 * @file
 * Default theme implementation for the button shortcode.
 *
 * Available variables:
 * - url: The url.
 * - attributes: The attributes array.
 * - text: The button label.
 */
#}
<!-- Main CSS of a Google Books entry, multiple per page. -->
<div class="google_books">

  <!-- Print the title of the book. -->
  <div class="google_books_title">
    {{title_anchor}}
  </div>

  <!-- Build image theme function call for book cover. -->
  <div class="google_books_image">
    <img src="{{image}}" />
  </div>

  <!-- Display links and leave empty divs for theming. -->
  <div class="google_books_links">
      <span class="google_books_worldcat">
        {{worldcat}}
      </span>
      <span class="google_books_librarything">
        {{librarything}}
      </span>
      <span class="google_books_openlibrary">
        {{openlibrary}}
  </div>

  <!-- Show the Google Books viewer if needed. -->
  <!-- Embed direct because of the filter JavaScript issue in Drupal -->

  <div class="google_books_datalist">
    <!-- List the selected and available Google Books data fields. -->
    {{bib_data}}
  </div>
  
  <!-- Prevent overlap of next element. -->
  <div style="clear:both;"></div>
  
</div>
