{#
/**
 * @file
 * Default theme implementation for the button shortcode.
 *
 * Available variables:
 * - url: The url.
 * - attributes: The attributes array.
 * - text: The button label.
 */
#}
<!-- Main CSS of a Google Books entry, multiple per page. -->
{{ attach_library('google_books/google_books') }}
<div class="google_books">

    <!-- Print the title of the book. -->
    <div class="google_books_title">
        <a {{title_anchor}}
        {{ link(title_anchor, info_link) }}
    </div>

    <!-- Build image theme function call for book cover. -->
    <div class="google_books_image">
        <img src="{{image}}" />
    </div>

    <!-- Display links and leave empty divs for theming. -->
    <div class="google_books_links">
      {% if worldcat_link %}
          <span class="google_books_worldcat">
            {{ link('Worldcat', 'http://worldcat.org/isbn/' ~ isbn) }}
          </span>
      {%  endif %}
        <span class="google_books_librarything">
          {% if librarything_link %}
              <span class="google_books_librarything">
                {{ link('LibraryThing', 'http://librarything.com/isbn/' ~ isbn) }}
              </span>
          {%  endif %}
        </span>
        <span class="google_books_openlibrary">
          {% if openlibrary_link %}
              <span class="google_books_openlibrary">
                {{ link('OpenLibrary', 'http://openlibrary.org/isbn/' ~ isbn) }}
              </span>
          {%  endif %}
    </div>

 <!-- Show the Google Books viewer if needed. -->
  <!-- Embed direct because of the filter JavaScript issue in Drupal -->
  <!-- <?php
    if (!empty($google_books_js_string)):
      print "<script type='text/javascript'>" . $google_books_js_string . "</script>";
      print '<div class="google_books_reader" id="viewerCanvas' . $isbn . '" style = "width:' . $reader_width . 'px; height:' . $reader_height . 'px"></div>';
    endif;
  ?>-->

    <div class="google_books_datalist">
        <!-- List the selected and available Google Books data fields. -->
        <ul class="google_books_datafields">
            {% for bib_key, bib_field in bib_fields  %}
                <li>
                    <span class="google_books_{{ bib_key }}">
                        <span class="google_books_field_name">
                            {{ bib_key }}
                        </span> : {{ bib_field }}
                    </span>
                </li>
            {% endfor %}
        </ul> 
    </div>

    <!-- Prevent overlap of next element. -->
    <div style="clear:both;"></div>
  
</div>
